{% extends "layout.html" %}
{% block title %}LOG IN{% endblock %}

{% block javascript %} {% endblock %}


{% block body %}

<h1>Log In</h1>

	{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}

<div class="loginClass">

    <form action="" method="post">

        Username:
        <br>
        <input type="text" name="username" size="30" value="{{ request.form.username }}">
        <br>
        Password:
        <br>
        <input type="text" name="password" size="30" value="{{ request.form.password }}">

        <div class="login_signup_buttons">

            <input type="submit" name="loginlogin" value="LOG IN" style="background-color: #f2eeae;color: black; width: 70px;">

        </div>


    </form>

</div>


{% endblock %}
